

.background {
  position: absolute;
  height: 100vh;
  width: 100vw;

  z-index: -999;

  background: linear-gradient(272deg, #fbaedd, #aed7f3, #f7c7b0);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}


@-webkit-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}

.dropdown-container {
  position: relative;
  top: 10vh;


  width: 90%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

}